doctype html
head
  meta(charset='utf-8')
  link(rel='stylesheet' type='text/css' href='/styles/home.css')
  meta(content='width=width-device, user-scalable=yes initial-scale=1.0' name='viewport')
  title :: Home ::
#container
  header
    nav
      ul
        li
          a.home(href='/home') Home
        li
          a.services(href='/services') Our Services
        li
          a.contact(href='/contact') Contact Us
  section
    article
      h1 Welcome to Our Store!
      h2 Have a Nice visit!
  footer
    | &copy; - Meayan Kays - 2021
  br.annule
