doctype html
head
  meta(charset='utf-8')
  link(rel='stylesheet' type='text/css' href='/styles/services.css')
  meta(content='width=width-device, user-scalable=yes initial-scale=1.0' name='viewport')
  title :: Our Services ::
#container
  header
    nav
      ul
        li
          a.home(href='home.html') Home
        li
          a.services(href='services.html') Our Services
        li
          a.contact(href='contact') Contact Us
  section
    article
      h3 Our Store presents the following services :
      p Sale of Cell Phones
      p Sale of Smartphones
      p Sale of Tablets
      p Sale of Laptops
      p Sale of Accessories
      p Repair of Cell Phones, Smartphones, Tablets and Laptops.
  footer &copy; - Meayan Kays - 2021
  br.annule
